[project]
	description = Rammer is a framework dedicated to build high performance async API servers on top of non-blocking (asynchronous) Ruby web server called Goliath. 
[access "refs/*"]
	owner = group user/qburstruby (qburstruby)
[access "refs/for/refs/*"]
	read = group user/qburstruby (qburstruby)
	push = group user/qburstruby (qburstruby)
	label-Code-Review = -2..+2 group user/qburstruby (qburstruby)
	label-Verified = -1..+1 group user/qburstruby (qburstruby)
	rebase = group user/qburstruby (qburstruby)
	removeReviewer = group user/qburstruby (qburstruby)
	submit = group user/qburstruby (qburstruby)
[access "refs/heads/*"]
	read = group user/qburstruby (qburstruby)
	create = group user/qburstruby (qburstruby)
	push = +force group user/qburstruby (qburstruby)
	pushMerge = group user/qburstruby (qburstruby)
[access "refs/tags/*"]
	push = +force group user/qburstruby (qburstruby)
	pushTag = group user/qburstruby (qburstruby)
	pushSignedTag = group user/qburstruby (qburstruby)
